* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .card {
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    width: 200px;
    padding: 10px;
  }
  
  #root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .progress-container {
    position: relative;
    border: 1px solid black;
    height: 20px;
  }
  
  .progress-line {
    position: absolute;
    /* background-color: lightskyblue; */
    height: 100%;
  }
  
  .progress-value {
    position: absolute;
    text-align: center;
    width: 100%;
  }